* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    margin: 5vw auto;
    width: 30vw;
}

form h1 {
    text-align: center;
    margin: 2vw 0;
    font-size: 25px  !important;
    font-weight: bolder;
    background-color: lightblue;
    font-size: 18px;
    padding: 1vw;
    border-radius: 15px;
    display: none;
}

form .inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    margin-bottom: 2vw;
}

form input {
    height: 2vw;
    padding: 1.5vw 1vw;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid lightgray;
    transition: all 0.4s ease;
}

.inputs input:focus {
    outline: none;
    border-color:blue;
    box-shadow: 0px 0px 15px 0px blue;
}

.operations {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.operations button {
    width: 48%;
    height: 3vw;
    color: white;
    background-color: blue;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.operations button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 0px blue;
}